nav {
    display: grid;
    justify-items: center;
    padding: 10px;
    background: grey;
    
    h1 {
  padding-top: 10px;
  }
    a {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100px;
  height: 45px;
  background: blue;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
  padding-top: 10px;
  
  }
  
  }